<!-- mt-3 - grid css   -->
<div class="container mt-3">
  <anim-card title="FIRST PANEL">
    Animation provides the illusion of motion: HTML elements change styling over time.
  </anim-card>

  <anim-card title="SECOND PANEL">
    Un oggetto nella realtà non inizia istantaneamente il suo movimento e la sua velocità non rimane costante.
    Quando apriamo il cassetto, prima gli imprimiamo un’accelerazione e poi lo facciamo rallentare. Quando qualcosa cade,
    prima accelera verso il basso, poi rimbalza in alto dopo aver colpito il pavimento.
    Questa pagina ti aiuta ogni volta a scegliere la funzione di
    interpolazione desiderata.
  </anim-card>
</div>
