.button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #222;
  color: #222;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 10px 2px;
  outline: none;
  cursor: pointer;
}
